<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Authentication</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Authentication will require the streaming user to enter the password when connecting.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Authentication</string>
			<key>Key</key>
			<string>kAirFloatUserDefaultsAuthenticationEnabledKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<true/>
			<key>Key</key>
			<string>kAirFloatUserDefaultsPasswordKey</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Power Management</string>
			<key>FooterText</key>
			<string>Turning this on will result in the device not dimming the screen when connected to a power source. Looks great for artwork when the device is docked.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Keep Screen Alive</string>
			<key>Key</key>
			<string>kAirFloatUserDefaultsDoNotDimDisplayKey</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Synchronization</string>
			<key>FooterText</key>
			<string>Synchronization is disabled by default. This might cause skippings in the audio stream. Enable this if you need multiple AirPlay receivers to play at the same time.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Synchronize</string>
			<key>Key</key>
			<string>kAirFloatUserDefaultsSynchronizeAudioKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements</string>
			<key>File</key>
			<string>Acknowledgements</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
