<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AirFloatAdTextPosition</key>
		<dict>
			<key>AirFloatHorizontal</key>
			<string>left</string>
			<key>AirFloatVertical</key>
			<string>top</string>
		</dict>
		<key>AirFloatAdImage</key>
		<string>iTunesiPad.jpg</string>
		<key>AirFloatAdTexts</key>
		<array>
			<dict>
				<key>AirFloatAdDelay</key>
				<real>0</real>
				<key>AirFloatAdText</key>
				<string>Connect</string>
			</dict>
			<dict>
				<key>AirFloatAdDelay</key>
				<real>0.3</real>
				<key>AirFloatAdText</key>
				<string>from</string>
			</dict>
			<dict>
				<key>AirFloatAdDelay</key>
				<real>0.6</real>
				<key>AirFloatAdText</key>
				<string>iTunes</string>
				<key>AirFloatAdTextIsBold</key>
				<true/>
			</dict>
		</array>
		<key>AirFloatAdImageCenter</key>
		<dict>
			<key>x</key>
			<integer>750</integer>
			<key>y</key>
			<integer>750</integer>
		</dict>
		<key>AirFloatAdScreenCenter</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>AirFloatAdDuration</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>AirFloatAdTextColor</key>
		<string>black</string>
		<key>AirFloatAdTextPosition</key>
		<dict>
			<key>AirFloatHorizontal</key>
			<string>right</string>
			<key>AirFloatVertical</key>
			<string>bottom</string>
		</dict>
		<key>AirFloatAdImage</key>
		<string>iPhoneiPad.jpg</string>
		<key>AirFloatAdTexts</key>
		<array>
			<dict>
				<key>AirFloatAdDelay</key>
				<real>0</real>
				<key>AirFloatAdText</key>
				<string>...or</string>
			</dict>
			<dict>
				<key>AirFloatAdDelay</key>
				<integer>1</integer>
				<key>AirFloatAdText</key>
				<string>connect</string>
			</dict>
			<dict>
				<key>AirFloatAdDelay</key>
				<real>1.2</real>
				<key>AirFloatAdText</key>
				<string>your</string>
			</dict>
			<dict>
				<key>AirFloatAdDelay</key>
				<real>1.4</real>
				<key>AirFloatAdText</key>
				<string>iPhone</string>
				<key>AirFloatAdTextIsBold</key>
				<true/>
			</dict>
		</array>
		<key>AirFloatAdImageCenter</key>
		<dict>
			<key>x</key>
			<integer>750</integer>
			<key>y</key>
			<integer>750</integer>
		</dict>
		<key>AirFloatAdScreenCenter</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>AirFloatAdDuration</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>AirFloatAdTextPosition</key>
		<dict>
			<key>AirFloatHorizontal</key>
			<string>left</string>
			<key>AirFloatVertical</key>
			<string>bottom</string>
		</dict>
		<key>AirFloatAdImage</key>
		<string>iPadiPad.jpg</string>
		<key>AirFloatAdTexts</key>
		<array>
			<dict>
				<key>AirFloatAdDelay</key>
				<real>0</real>
				<key>AirFloatAdText</key>
				<string>...or</string>
			</dict>
			<dict>
				<key>AirFloatAdDelay</key>
				<real>0.2</real>
				<key>AirFloatAdText</key>
				<string>connect</string>
			</dict>
			<dict>
				<key>AirFloatAdDelay</key>
				<real>1.2</real>
				<key>AirFloatAdText</key>
				<string>another</string>
			</dict>
			<dict>
				<key>AirFloatAdDelay</key>
				<real>1.4</real>
				<key>AirFloatAdText</key>
				<string>iPad</string>
				<key>AirFloatAdTextIsBold</key>
				<true/>
			</dict>
		</array>
		<key>AirFloatAdImageCenter</key>
		<dict>
			<key>x</key>
			<integer>750</integer>
			<key>y</key>
			<integer>750</integer>
		</dict>
		<key>AirFloatAdScreenCenter</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>AirFloatAdDuration</key>
		<integer>15</integer>
	</dict>
</array>
</plist>
